h2 {
  color: rgb(49, 171, 232);
}
h3 {
  color: rgb(49, 171, 232);
}
p {
  text-align: justify;
}

.FAQ-care {
  text-align: center;
}
.border-orange {
  background-color: orange;
  color: orange;
}
