.getmeal-text {
  margin: auto;
  text-align: center;
  /* line-height: 300px;
  height: 300px; */
  /* margin-top: 50px; */
}

.get-involve {
  background-color: rgb(240, 173, 173);
}
.w-16 {
  width: 29rem;
}
