.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 100;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(239, 239, 142);
    color: rgb(97, 58, 58);
      text-decoration: none;


    /* text-align: center; */
  }
  .contact a{
      text-decoration: none;
  }